<section>
    <div  class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner" >
      <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
                    <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
                     
                      <h4 class="ae-u-bolder">Cojutepeque </h4> <hr>
                      <p >
                            Joven  Certificate en las diversas Herramientas de Microsoft 
                            que les acredita como expertos a nivel nacional e internacional en el 
                            dominio de estas Herramientas. Estas certificaciones son un aporte significativo 
                            para los perfiles profesionales de los participantes  
                            en el programa de la alcaldía en el Centro de Formación Tecnológica de Cojutepeque. 
                      </p>
                    </div>

        <iframe  class="ae-grid__item item-lg-6 item-lg--offset-1"
         src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15503.830375366555!2d-88.94712782312563!3d13.721017245876915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f6350043fca7223%3A0x7977bd4834f6c8c0!2sCojutepeque!5e0!3m2!1ses-419!2ssv!4v1572672099490!5m2!1ses-419!2ssv" 
         width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="">
        </iframe>
    </div>

<br>
<div *ngFor="let school of _school.escuelaServ" class="ae-grid ae-grid--collapse au-xs-ptp-1">
  <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
   
    <h4 class="ae-u-bolder">{{school.nombre}} </h4> <hr>
    <p>Codigo: {{school.codigo}}</p>
    <p>Sector: {{school.sector}}</p>
    <p>Dirección: {{school.direccion}}</p>
    <p>Teléfono: {{school.telefono}}</p>
    <p>Correo: {{school.correo}}</p>
    <a target="_blank" href="https://www.facebook.com/{{school.facebook}}" class=" ae-u-bolder au-underline">
      <svg class="rk-social-btn">
          <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
        </svg>
      {{school.facebook}}</a>
  </div>
  <img [src]="school.iframe" alt="" class="ae-grid__item item-lg-6" width="100%" height="100%">
</div>

</div>
</section>

