<section>
    <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner" >
            <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
                    <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
                     
                      <h4 class="ae-u-bolder">Cojutepeque </h4> <hr>
                      <p >
                            Joven  Certificate en las diversas Herramientas de Microsoft 
                            que les acredita como expertos a nivel nacional e internacional en el 
                            dominio de estas Herramientas. Estas certificaciones son un aporte significativo 
                            para los perfiles profesionales de los participantes  
                            en el programa de la alcaldía en el Centro de Formación Tecnológica de Cojutepeque. 
                      </p>
                    </div>

        <iframe  class="ae-grid__item item-lg-6 item-lg--offset-1"
         src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15503.830375366555!2d-88.94712782312563!3d13.721017245876915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f6350043fca7223%3A0x7977bd4834f6c8c0!2sCojutepeque!5e0!3m2!1ses-419!2ssv!4v1572672099490!5m2!1ses-419!2ssv" 
         width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="">
        </iframe>
    </div>


    <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
            <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
             
              <h4 class="ae-u-bolder">Cojutepeque </h4> <hr>
              <p >
                    Joven  Certificate en las diversas Herramientas de Microsoft 
                    que les acredita como expertos a nivel nacional e internacional en el 
                    dominio de estas Herramientas. Estas certificaciones son un aporte significativo 
                    para los perfiles profesionales de los participantes  
                    en el programa de la alcaldía en el Centro de Formación Tecnológica de Cojutepeque. 
              </p>
            </div>
walter
            <iframe  class="ae-grid__item item-lg-6 item-lg--offset-1"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.8513320239485!2d-88.95189468523606!3d13.727449190363206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f634557c2b6bf37%3A0xf46e77c69d912ebd!2sWalter%20Thilo%20Deininger!5e0!3m2!1ses-419!2ssv!4v1572673094527!5m2!1ses-419!2ssv"
             width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    
</div></div>
henry ford

anita alvarado
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.919336219478!2d-88.93531728523607!3d13.72333329036593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f6350064984fb93%3A0xa038e2cb7685a0d6!2sCentro%20Escolar%20Anita%20Alvarado!5e0!3m2!1ses-419!2ssv!4v1572674972012!5m2!1ses-419!2ssv"
 width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

Candelario Cuellar
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.9493954995314!2d-88.9317927852361!3d13.721513590367081!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f635008d764c371%3A0xf0891e5ea2626bdf!2sCentro%20Escolar%20Candelario%20Cu%C3%A9llar!5e0!3m2!1ses-419!2ssv!4v1572675058748!5m2!1ses-419!2ssv"
 width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

 Nestor Salamanca
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.9109935269726!2d-88.94054638523609!3d13.723838290365556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f635000e2b7f333%3A0xfb781fd99e0958be!2sCentro%20Escolar%20Nestor%20Salamanca!5e0!3m2!1ses-419!2ssv!4v1572675115657!5m2!1ses-419!2ssv" 
 width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>





</section>

