  <section *ngIf="Curso">
   
    <header
    [ngStyle]="{'background-image': 'url(assets/info-cursos/'+ id +'/'+ id +'.jpg)'}"
    class="rk-portfolio-cover  item-inside-1 au-xs-ptp-1">
    <div class="item-1">
        <h1 class="ae-u-bolder rk-portfolio-title ">{{Curso.titulo}}</h1>
        <p class="ae-theta rk-portfolio-category ">{{Curso.des_1}}</p>
      </div>
  </header>

    <div class="ae-grid ae-grid--collapse au-xs-ptp-1 au-xs-pbp-1">
      
      <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <h4 class="ae-u-bolder">Descripción</h4>
        <p class="ae-eta">{{Curso.des_2}}</p>
      <a target="_blank" class=" ae-u-bolder au-underline" href="https://www.udemy.com/course/{{Curso.enlace}}">Ir al curso</a>
     </div>
    </div>
    <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
      <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
        <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
         
          <h4 class="ae-u-bolder">Tutor: {{Curso.tutor}}</h4>
          <small class="ae-eta">Profesión: {{Curso.profesion}}</small>
          <hr>
          <p class="ae-eta">{{Curso.des_tutor}} </p>
        </div>
        <div class="ae-grid__item item-lg-6 item-lg--offset-1"><img src="assets/info-cursos/{{id}}/main.jpg" alt="Urku Portfolio"></div>
      </div>
    </div>
  </section>
